.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: white;
  border-bottom: 1px solid #ddd;

}

.left-section {
  display: flex;
  align-items: center;
}

.menu-btn {
  border: none;
  background: none;
  font-size: 25px;
}

.logo {
  height: 60px;
}

.search-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 600px;
}

.search-section input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 20px 0 0 20px;
  outline: none;
  padding: 10px;
}

.search-btn {
  background: #f1f1f1;
  border: 1px solid #ddd;
  padding: 4px 15px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.mic-btn {
  background: #ddd;
  border-radius: 50px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px 8px;
}

.right-section .sign-in-btn {
  background: none;
  border: 1px solid blue;
  color: blue;
  padding: 5px 12px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
    padding-right: 5px;
    filter: invert(31%) sepia(86%) saturate(1200%) hue-rotate(215deg) brightness(95%) contrast(110%);
  }
}
