.shorts-section {
  margin: 20px 0;
}

.shorts-container {
  display: flex;
  gap: 10px;
  justify-content: start;
  width: 100%;
}

.short-card {
  flex: 1;
  min-width: 150px;
  max-width: 200px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.short-card img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 9 / 16;
  object-fit: cover;
}

.short-info {
  font-size: 14px;
  color: #333;
}


@media (max-width: 1100px) {
  .short-card:nth-child(n + 5) { display: none; }
}

@media (max-width: 900px) {
  .short-card:nth-child(n + 4) { display: none; }
}

@media (max-width: 700px) {
  .short-card:nth-child(n + 3) { display: none; }
}

@media (max-width: 500px) {
  .short-card:nth-child(n + 2) { display: none; }
  .short-card { max-width: 100%; }
}
