<nav class="sidebar" [class.collapsed]="isCollapsed()">
  <ul class="menu">
    <li [class.active]="activeSection === 'home'">
      <img src="assets/icons/home.svg" class="icon" />
      <span class="text" *ngIf="!isCollapsed()">Home</span>
    </li>
    <li>
      <img src="assets/icons/shorts.svg" class="icon" />
      <span class="text" *ngIf="!isCollapsed()">Shorts</span>
    </li>
    <li>
      <img src="assets/icons/subscriptions.svg" class="icon" />
      <span class="text" *ngIf="!isCollapsed()">Subscriptions</span>
    </li>
  </ul>
  <div class="divider" *ngIf="!isCollapsed()"></div>
  <ul class="menu">
    <li>
      <img src="assets/icons/sign-in.svg" class="icon" />
      <span class="text" *ngIf="!isCollapsed()">You</span>
    </li>
    <li>
      <img src="assets/icons/history.svg" class="icon" />
      <span class="text" *ngIf="!isCollapsed()">History</span>
    </li>
  </ul>

  <div class="sign-in-section" *ngIf="!isCollapsed()">
    <p>Sign in to like videos, comment, and subscribe.</p>
    <button class="sign-in-btn">
      <img src="assets/icons/sign-in.svg" />
      Sign in
    </button>
  </div>

  <h3 *ngIf="!isCollapsed()" class="explore-title">Explore</h3>
  <ul *ngIf="!isCollapsed()" class="menu">
    <li>
      <img src="assets/icons/trending.svg" class="icon" />
      <span class="text">Trending</span>
    </li>
    <li>
      <img src="assets/icons/music.svg" class="icon" />
      <span class="text">Music</span>
    </li>
    <li>
      <img src="assets/icons/movies.svg" class="icon" />
      <span class="text">Movies & TV</span>
    </li>
    <li>
      <img src="assets/icons/live.svg" class="icon" />
      <span class="text">Live</span>
    </li>
    <li>
      <img src="assets/icons/gaming.svg" class="icon" />
      <span class="text">Gaming</span>
    </li>
    <li>
      <img src="assets/icons/news.svg" class="icon" />
      <span class="text">News</span>
    </li>
    <li>
      <img src="assets/icons/sports.svg" class="icon" />
      <span class="text">Sports</span>
    </li>
    <li>
      <img src="assets/icons/learning.svg" class="icon" />
      <span class="text">Learning</span>
    </li>
  </ul>
</nav>
